body {
	max-width: 100%;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: #808080;
	font-size: 12px;
	padding: 10px;

} 

nav {
	margin-top: 10px;
}


img {
	width: 30%;
	padding: 10px;
}


.background {
	background-color: #808080;
	max-width: 100%;
	height: auto;
	padding-bottom: 30px;
}

h1 {
	font-size: 38px;
	width: 380px;
	color: #FFFFFF;
	line-height: 50px;
	margin-top: 60px;
}

p {
	color: #FFFFFF; 
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 380px;
}

.contenedor-form {
	background-color: #9A9A9A;
	width: 50%;
	border-radius: 5px;
 	text-align: center;
 	margin-top: 60px;
}

h4 {
	color: #FFFFFF;
	text-align: center;
	padding: 15px 0px;
}

form {
	width: 90%;	
	text-align: center;
	padding-bottom: 15px;
}

.inputform, .boton {
	width: 90%;
	margin: 0 20px;
	padding: 3px 5px;
}

.boton {
	background-color: #3FAFF9;
	color: #FFFFFF;
	text-align: center;
}

footer {
	color: #9A9A9A;
	font-size: 10px;
}

@media (max-width: 535px){ 
	[class*="col-"]
		{	
			width: 100%;
		}
}